.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

//height、line-height
@mixin hLh($num) {
  height: $num;
  line-height: $num;
}

// 水平垂直居中
@mixin VHcenter($top: 52%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// 省略号
@mixin ellipsis($width: 100%) {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsisNum($ellipsisNum) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $ellipsisNum;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

// 垂直渐变色
@mixin gradientUpToBottom($colorUp, $colorBottom) {
  background: -webkit-linear-gradient($colorUp, $colorBottom);
  background: -o-linear-gradient($colorUp, $colorBottom);
  background: -moz-linear-gradient($colorUp, $colorBottom);
  background: linear-gradient($colorUp, $colorBottom);
}

// 水平渐变色
@mixin gradientUpLeftRight($colorLeft, $colorRight) {
  background: -webkit-linear-gradient(left, $colorLeft, $colorRight);
  background: -o-linear-gradient(right, $colorLeft, $colorRight);
  background: -moz-linear-gradient(right, $colorLeft, $colorRight);
  background: linear-gradient(to right, $colorLeft, $colorRight);
}

/* transform */
@mixin transformFn($effect) {
  -webkit-transform: $effect;
  -moz-transform: $effect;
  -o-transform: $effect;
  -ms-transform: $effect;
  transform: $effect;
}

// 透明度
@mixin opacity($degree) {
  filter: alpha(opacity=$degree);
  -moz-opacity: $degree / 100;
  opacity: $degree / 100;
}

@mixin containerBox($width: 1200px) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

@mixin display($display: inline-block, $vertical: top) {
  display: $display;

  @if ($vertical) {
    vertical-align: $vertical;
  }
}

// @font-face {
//     font-family: 'yeGenYouTang';
//     src: url('/static/font/叶根友度黑1.8.TTF') format('truetype'),
// }

@mixin scrollBar($width: 6px, $color: #16b1e7) {
  overflow-y: auto;

  /* 滚动条样式start */
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    //  box-shadow: inset 0 0 6px #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $color !important;
    background-color: $color;
    outline-offset: -2px;
    outline: 2px solid #fff;
    box-shadow: inset 0 0 6px #eaf7ff;

    &:hover {
      // box-shadow: inset 0 0 6px #1e90ff;
    }
  }

  /* 滚动条样式end */
}

@mixin hoverScrollBar($color: #16b1e7) {
  overflow-y: auto;

  /*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /*正常情况下滑块的样式*/
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: transparent;
  }

  /*鼠标悬浮在该类指向的控件上时滑块的样式*/
  &:hover::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background-color: $color;
  }
}

@mixin noneScrollBar() {
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

@mixin VHflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 进度条 */
@mixin Progress($barcolor: #0dc19a, $bgcolor: #0e2c4c, $radius: 6px, $height: 20px) {
  display: inline-flex;
  overflow: hidden;
  height: $height;
  background-color: $bgcolor;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: $radius;
  width: 100%;
  margin-bottom: 0;

  .bar {
    width: 0%;
    height: 100%;
    color: #fff;
    float: left;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: $barcolor;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: $radius;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
}
//动效
@keyframes nextanima {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -10px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes gyanima {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes animquan {
  0% {
    opacity: 0.4;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes animline {
  0% {
    left: -5%;
  }

  10% {
    left: 0%;
  }
  30% {
    left: 15%;
  }
  50% {
    left: 25%;
  }
  70% {
    left: 20%;
  }
  80% {
    left: 10%;
  }
  90% {
    left: 0;
  }
  100% {
    left: -10%;
  }
}